<% layout('layouts/boilerPlate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create New Place</h3>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      class="mt-4 mb-5 needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="invalid-feedback">Please Enter a valid Title</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="listing[price]"
          placeholder="Enter price"
          value="<%= listing.price %>"
          required
        />
        <div class="invalid-feedback">Please Enter a valid Price</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="image"
          name="listing[image]"
          placeholder="Enter image url"
        />
        <div class="invalid-feedback">Please upload image</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="listing[description]"
          placeholder="Enter description"
          required
          rows="5"
        >
        <%= listing.description %></textarea
        >
        <div class="invalid-feedback">
          Please Enter a valid Short Description
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="listing[country]"
          placeholder="Enter country"
          value="<%= listing.country %>"
          required
        />
        <div class="invalid-feedback">Please Enter a valid Country Name</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="listing[location]"
          placeholder="Enter location"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">Please Enter a valid Location</div>
      </div>
      <button type="submit" class="btn edit-btn">Update</button>
    </form>
  </div>
</div>
